@import "../horizental-line.css";

.main-body{
    text-align: center;
    width: 70%;
    margin: auto;
}

input{
    width: 70%;
    padding: 20px;
    font-family: var(--default-font);
    color: #34495e;

}

input[type="submit"]{
    background: #1abc9c;
    color: white;
    box-shadow: 1px 1px 1px 1px #ecf0f1;
    border: 1px solid white;
}

textarea{
    width: 70%;
    height: 300px;
    padding: 20px;
    font-family: var(--default-font);
}

@media(max-width: 769px){
    .main-body{
        width: 100%;
    }
    input{
        width: 90%;
        margin: auto;
    }
    textarea{
        width: 90%;
    }
}